h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  font-family: "Nova Mono", monospace;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(124, 124, 124);
  color: white;
  text-align: center;
}

footer p {
    line-height: 10px;
  font-family: "Nova Mono", monospace;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
